<br>

<div class="container-fluid d-flex">
    <div class="cards">
      <% @flats.each do |flat| %>
      <%= link_to flat_path(flat, dates: params[:search][:dates]) do %>
         <div class="card-flat">
            <img src="https://images.unsplash.com/photo-1560930950-5cc20e80e392?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
              <div class="card-flat-infos">
                <div>
                  <h2><%= flat.name.capitalize %></h2>
                  <p>
                  <%= "#{flat.flat_type.capitalize} · " %>
                  <%= "#{flat.number_of_rooms} rooms  · " %>
                  <%= "#{flat.separation_allowed} ° separation" %>
                  <h2 class="card-flat-pricing"><%= "#{flat.price_per_month}€/month" %></h2>
                  </p>
                </div>
                <img class="card-flat-user avatar-bordered" src="<%= image_path("placeholder.jpg") %>">
              </div>
          </div>
      <% end %>
    <% end %>
</div>




  <div class="col-6">
    <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>
</div>



