<div class="container">
  <h1>🗓 Bookings</h1>
  <h3>Friends flats for me 🛌</h3>
  <div class="row justify-content-center">
    <% @bookings_as_renter.each do |booking| %>
    <div class="col-4">
      <%= link_to booking_path(booking) do %>
      <div class="card-flat">
      <% if booking.flat.photos.first %>
      <%= cl_image_tag booking.flat.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-flat-infos">
        <div>
          <span><%= booking.flat.name %></span>
          <p> Start Date: <%= booking.start_date %></p>
          <p> End Date: <%= booking.end_date %></p>
          <p> Status: <%= booking.confirmed %></p>
        </div>
        <% if @user.facebook_picture_url%>
          <%= image_tag @user.facebook_picture_url, class: "card-flat-user avatar-bordered" %>
        <% elsif @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, width: 40, height: 40, crop: :fill, class: "card-flat-user avatar-bordered" %>
        <% else %>
          <%= image_tag "http://placehold.it/30x30", class: "card-flat-user avatar-bordered" %>
        <% end %>
      </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
