<div class="container pt-4">
  <div class="container">
    <div class="row no-margin-left">
      <div class="col-12">
        <h2> 📅 Enter your Dates</h2>
      </div>


      <div class="col-12 d-flex justify-content-between no-margin-left">
        <%= simple_form_for [ @flat, @booking ], html: { class: "col-12 d-flex justify-content-between" } do |f| %>
          <div class="col-6 no-margin-left">
            <div id="start_date">
            <%= f.input :start_date %>
            </div>
            <%= f.input :end_date %>
          </div>

        <div class="col-6 no-margin-left">
          <div class="textbox-squared">
            <div class="avatar-bordered" id="avatar-right">
              <% if @flat.user.facebook_picture_url%>
                <%= image_tag @flat.user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% elsif @flat.user.photo.attached? %>
                <%= cl_image_tag @flat.user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% else %>
              <span class="iconify" data-inline="false" data-icon="bi:person-circle" style="font-size: 40px;"></span>
              <% end %>
            </div>
            <h3>Price</h3>
            <p><%=@flat.price_per_month%>€/month</p>
            <h3>Handshakes</h3>
            <p><% @flat.separation_allowed.times do %> 🤝 <% end %></p>
            <h3>Rental Period</h3>
            <div class="d-flex justify-content-between">
              <p id="start_date_2"><%= @start_date %></p> <p>-</p>
              <p id="end_date_2"> <%= @end_date %> </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 pt-4">
        <div class="avatar-bookings">
          <% if @flat.user.facebook_picture_url%>
            <%= image_tag @flat.user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif @flat.user.photo.attached? %>
            <%= cl_image_tag @flat.user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
          <span class="iconify" data-inline="false" data-icon="bi:person-circle" style="font-size: 40px;"></span>
          <% end %>
          <img class="avatar-bordered avatar-grey" alt="avatar-bordered-grey" src="<%= image_path 'frederike.png' %>" />
        </div>


        <div class="btn-message pt-4">
          <%= f.simple_fields_for :messages, Message.new do |messages_form| %>
            <%= messages_form.input :content, label: "Message", class: "messages-form" %>
          <% end %>
            <%= f.submit "Say Hi 👋", class:"btn btn-rounded", data: {turbolinks: false} %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



