<div class="container pt-4">
  <div class="container">
    <div class="row no-margin-left">
      <div class="col-12">
        <h2> 📅 Enter your Dates</h2>
      </div>


      <div class="col-12 d-flex justify-content-between no-margin-left">
        <%= simple_form_for [ @flat, @booking ], html: { class: "col-12 d-flex justify-content-between" } do |f| %>
          <div class="col-6 no-margin-left">
            <div id="start_date">
            <%= f.input :start_date %>
            </div>
            <%= f.input :end_date %>
          </div>

        <div class="col-6 no-margin-left">
          <div class="textbox-squared">
            <div class="avatar-bordered" id="avatar-right">
              <% if @flat.user.facebook_picture_url%>
                <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% elsif @flat.user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% else %>
              <span class="iconify" data-inline="false" data-icon="bi:person-circle" style="font-size: 40px;"></span>
              <% end %>
            </div>
            <h3>Price per month</h3>
            <p><%=@flat.price_per_month%>€</p>
            <h3>Separation</h3>
            <p><%= @flat.separation_allowed %> ° </p>
            <h3>Time</h3>
            <div id="start_date_2">
            <p> <%= @start_date %> - </p>
            </div>
            <div id="end_date_2">
              <br><%= @end_date %></p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 pt-4">
        <div class="avatar-bookings">
          <% if @flat.user.facebook_picture_url%>
            <%= image_tag @flat.user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif @flat.user.photo.attached? %>
            <%= cl_image_tag @flat.user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
          <span class="iconify" data-inline="false" data-icon="bi:person-circle" style="font-size: 40px;"></span>
          <% end %>
          <img class="avatar-bordered avatar-grey" alt="avatar-bordered-grey" src="https://media-exp1.licdn.com/dms/image/C4D03AQEf6XT0OlY0Qw/profile-displayphoto-shrink_400_400/0?e=1596672000&v=beta&t=FDfyhDNqGmzTx8ts3X25GZkfsTgU2WMHQOtIE7ickiI" />
        </div>


        <div class="btn-message pt-4">
          <%= f.simple_fields_for :messages, Message.new do |messages_form| %>
            <%= messages_form.input :content, label: "Message", class: "messages-form" %>
          <% end %>
            <%= f.submit "Say Hi 👋", class:"btn btn-rounded", data: {turbolinks: false} %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



