<div class="container pt-4">
  <h2>Your Booking 💌</h2>
</div>

<br>

<div class="container-fluid d-flex">
  <div class="col-6">
    <div>
      <% if @booking.flat.photos.first %>
      <%= cl_image_tag @booking.flat.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="card-flat">
        <h2> <%= @booking.flat.name %></h2>
        <p> <strong>Start Date:</strong> <%= @booking.start_date %>
          <br> <strong>End Date:</strong> <%= @booking.end_date %></p>
        <p> <strong>Type:</strong> <%= @booking.flat.flat_type %></p>
        <p> <strong>Capacity:</strong> <%= @booking.flat.number_of_rooms %> rooms</p>
        <p> <strong>Description:</strong> <%= @booking.flat.description %></p>
    </div>
  </div>
  </div>

  <div class="col-6">
  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
   </div>
  </div>
</div>
