<% location = params[:search][:location] if !params[:search].nil? %>
<% separation_allowed = params[:search][:separation_allowed] if !params[:search].nil? %>

  <%= simple_form_for :search, url: flats_path, method: "get" do |f| %>
<div class = "d-flex form-inline">
    <%= f.input :separation_allowed, required: false, placeholder: "Degree of Separation", label: false, input_html: {value: location} %>
    <%= f.input :location, required: false, placeholder: "City", label: false, input_html: {value: separation_allowed} %>
    <%= f.input :dates, required: false, placeholder: "Rental Period", input_html: {class: "datepicker-range"}, label: false %>
    <%= f.button :submit, "Search", class: "btn btn-rounded" %>
</div>
  <% end %>



