<% location = params[:search][:location] if !params[:search].nil? %>
<% separation_allowed = params[:search][:separation_allowed] if !params[:search].nil? %>

  <%= simple_form_for :search, url: flats_path, method: "get" do |f| %>
  <div class = "d-flex form-inline search-input-container justify-content-center align-items-center">


      <%= f.input :separation_allowed, required: false, placeholder: "1", label: "Handshakes", wrapper_html: { class: "search-input-item" }, input_html: { value: location } %>

      <%= f.input :location, required: true, label: "City", placeholder: "Berlin", wrapper_html: {class: "search-input-item"}, input_html: { value: separation_allowed } %>

      <%= f.input :dates, required: false, placeholder: "March 26th - April 4th", wrapper_html: {class: "search-input-item"}, input_html: { class: "datepicker-range" }, label: "Check-in/Check-out" %>

      <%= f.button :submit, "Search", class: "btn btn-rounded" %>

  </div>
<% end %>
